:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --basic-color: #212121;
  --accent-color: #2196f3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.border {
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
}

/*===Header==*/

.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
  margin-top: ;
}

.logo-text {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}

.logo-color {
  color: #2196f3;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}

.menu-link.current {
  color: var(--accent-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item {
  margin-right: 50px;
}

.menu-header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.menu-header-contacts-email {
  padding-right: 50px;
}

.contact-icons {
  margin-right: 10px;
}

.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding-left: ; /*==150;==*/
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
  position: relative;
}

.portfolio::after {
  position: absolute;
  bottom: -40px;
  content: "";
  background: #2196f3;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

/*====END HEADER====*/

/*====HEROUS====*/

.herous-background {
  background-color: ;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header/bg.jpg);
  height: 600px;
  background-size: cover;
}

.hero-middle {
  display: block;
  flex-wrap: wrap;
  padding-top: 252px;
  padding-left: 252px;
}

.main-slogan {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  text-align: center;
}

.modal-btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: hidden;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  align-items: center;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  cursor: pointer;
  justify-content: ;
  color: #ffffff;
  margin-left: 252px;
  margin-top: 30px;
}

/*===MODAL FORM===*/

.modal-form {
  padding: 40px;
  display: flex;
}

.modal-form {
  flex-direction: column;
}

.modal-form-head {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: #212121;
}

.modal-form-input-wrapper {
  position: relative;
  margin-top: 4px;
  display: block;
}

.modal-form-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-form-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66;
  /* identical to box height */
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  position: relative;

  color: #757575;
}

.modal-form-input-link {
  display: flex;
  width: 18px;
  height: 18px;
  align-items: center;
  justify-content: center;
  border: inherit;
  background-color: #ffffff;
}

.modal-form-icon {
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}

.modal-form-message {
  outline: none;
  border-color: var(--accent-color);
  transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder{
  color: #ffffff;
}

.modal-form-message::focus{
  outline: none;
  border-color: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before{
  background-image: url(../images/svg/svg-icons/icon\ check.svg) ;
  width: 16px;
  height: 15px;
  border: inherit;
  outline: 2px solid rgb(64, 64, 114);

  
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.modal-form-checkbox:focus + .modal-form-checkbox-label::before{
  outline: 2px solid rgb(143, 143, 219);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.modal-form-checkbox-label::before{
  display: block;
  width: 16px;
  height: 15px;
  border: 1px solid #303030;  
  cursor: pointer;
  content: "";
  margin-right: 10px;
} 

.modal-form-checkbox-label{
  display: flex;
  font-size: 12px;
  align-items: center;
  margin-bottom: 20px;

}

.modal-form-btn{
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: inherit;
}

.modal-form-btn-send{
  font-style: 400;
  font-weight: bold;
  font-size: 16px;
  line-height:1.85;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;

  color: #FFFFFF;
}




/*====END HEROUS====*/

/*====MAIN SECTION====*/

/*====FEATURES SECTION====*/

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features-icon-1 {
}

.features-list-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 94px;
}

.features-title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  margin-top: 10px;

  color: #757575;
}

/*====END FEATURES SECTION====*/

/*====WHAT WE ARE DOING====*/

.activity-list {
  display: flex;
  margin-left: -30px;
  margin-top: -50px;
}

.activity-list-item {
  flex-basis: calc((100%-90px) / 3);
  margin-left: 30px;
  margin-top: 50px;
  display: block;
}

.activity {
  position: relative;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 94px;

  color: #212121;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.activity-link {
}

.activity-front {
  position: relative;
}

.activity-overlay-text {
  background: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;

  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-top: 27px;

  bottom: 0;
  left: 0;
  height: 70px;
  width: 370px;
}

/*====OUR TEAM SECTION====*/

.employees {
  background-color: #f5f4fa;
  height: 708px;
}

.masters-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -50px;
}

.masters-list-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 50px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  height: 428px;
}

.our-team-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 94px;

  color: #212121;
}

.our-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 30px;

  color: #212121;
}

.our-team-post {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 10px;

  color: #757575;
}

.our-team-social-social {
  display: flex;
  margin-top: 16px;
  width: 206px;
  margin-left: 32px;
  justify-content: space-between;
}
.our-team-social-link-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.our-team-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
}

.our-team-social-link:hover,
.our-team-social-link:focus {
  background-color: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-social-link :hover .our-team-social-link-icon,
.our-team-social-link:focus .our-team-social-link-icon {
  fill: white;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-tittle {
  font-style: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.66;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 94px;

  color: #212121;
}

.regular-customers-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: 50px;
}

.regular-customers-icon {
  border: hidden;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  padding: 16px 32px;
  margin-left: 30px;
}

.regular-customers-border {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

/*====END OUR TEAM SECTION====*/

/*==PORTFOLIO MAIN==*/

.buttons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 94px;
}

.border {
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
  height: 484px;
}

.images-list {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  margin-left: -30px;
}

.images-list-item {
  flex-basis: calc((100%-90px) / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.images-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  border: hidden;
  color: var(--basic-color);
  margin-left: 8px;
  padding: 6px 22px;
}

.portfolio-list-btn:hover,
.portfolio-list-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-tittle {
  margin-top: 20px;
  height: 36px;
  padding-left: 30px;
}

.portfolio-item-text {
  padding-top: 4px;
  margin-bottom: 94px;
  padding-left: 30px;
}

.images-list-item {
  display: block;
}

.team-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  background-color: rgba(33, 150, 243, 0.9);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  /* or 156% */
  letter-spacing: 0.03em;

  color: #ffffff;

  padding-left: 24px;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-link-wrapper:hover .overlay,
.team-list-link-wrapper:focus .overlay {
  transform: translateX(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.team-list-link-wrapper {
  color: #000000;
}

/*==END PORTFOLIO MAIN==*/

/*====FOOTER====*/

.footer-bg {
  background: #2f303a;
  margin-top: 100px;
}

.text-footer {
  padding-top: 55px;
}

.info-footer {
  margin-top: 20px;
}

.info-footer-item:not(:last-child) {
  padding-bottom: 9px;
}

.logo-text-footer {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-adress-color {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;

  color: #ffffff;
}

.footer-contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  margin-top: 20px;

  color: rgba(255, 255, 255, 0.6);
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin: 0 auto;
}

.social-list__icon {
  width: 44px;
  height: 44px;
}

.social-list__item-link:hover,
.social-list__item-link:focus {
  background-color: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__item-link:hover .social-list__item-icon,
.social-list__item-link:focus .social-list__item-icon {
  fill: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.delajem-flex {
  display: flex;
  margin-left: wra;
}

.social-list-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.container-footer {
  display: block;
  margin-left: 70px;
  margin-top: 67px;
}

.social-list-footer {
  display: flex;
  margin-top: 20px;
  width: 206px;
  justify-content: space-between;
}

.social-list-footer-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.social-list-footer-icon {
  width: 20px;
  height: 20px;
  fill: white;
}

.twitter-footer {
  background-color: #2196f3;
}

.twitter-footer-icon {
  fill: white;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 700ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 700ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 580px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  top: 8px;
  right: 8px;
  padding: 0;
}

.backdrop-modal-btn {
  fill: #000000;
  width: 11px;
  height: 11px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.footer-send-email{
  display: block;
  margin-top: 67px;
  margin-left: 97px;
}

.footer-send-email-text{
  font-style: 400;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  

}

.footer-subscribe-section{
}


.footer-send-email-input{
  width: 358px;
  height: 50px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 16px 15px;
  margin-top: 20px;

}

.footer-input-text{
  color: #ffffff;
}

.footer-input-text:focus{
outline: none;}


.footer-send-email-button{
  position: relative;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: none;
  align-items: center;
  margin-left: 12px;
  cursor: pointer;

}


.footer-send-email-button:hover,
.footer-send-email-button:focus{
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-btn-text{
font-style: 400;
font-weight: bold;
font-size: 16px;
line-height: 1.87;
/* identical to box height, or 187% */
letter-spacing: 0.06em;

color: #FFFFFF;
}

.footer-subscribe-icon{
  width: 24px;
  height: 24px;
}

.footer-position{
  padding-bottom: 60px;
}