.border {
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}

.logo-text {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}

.logo-color {
  color: #2196f3;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;

  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.menu-link.current {
  color: var(--accent-color);
}

.menu-item {
  margin-right: 50px;
}

.menu-header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.menu-header-contacts-email {
  padding-right: 50px;
}

.contact-icons {
  margin-right: 10px;
}

.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.portfolio {
  position: relative;
}

.portfolio::after {
  position: absolute;
  bottom: -40px;
  content: "";
  background: #2196f3;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}
